<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Derecho Mercantil</title>
</head>
<body>
    <header>
        <h1>
            Detalle de servicio
        </h1>
    </header>
    <nav>
        <a href="../index.html">Inicio</a> |
        <a href="../view/servicios.html">Servicios</a> |
        <a href="../view/nosotros.html">Nosotros</a> |
        <a href="../view/contacto.html">Contacto</a>
    </nav>
    <article>
        <h2>Derecho Mercantil</h2>
        <p>
            El derecho mercantil es una rama del derecho que regula las actividades comerciales y empresariales. 
            Abarca una amplia gama de temas, incluyendo contratos comerciales, sociedades mercantiles, títulos de crédito, 
            quiebras y propiedad intelectual. Los abogados especializados en derecho mercantil asesoran y representan a sus clientes 
            en transacciones comerciales, litigios empresariales y cumplimiento normativo, ayudando a las empresas a operar de manera legal y eficiente.
        </p>
        <h3>Ofrecemos</h3>
        <ul>
            <li>Asesoría en contratos comerciales</li>
            <li>Constitución y gestión de sociedades mercantiles</li>
            <li>Representación en litigios comerciales</li>
            <li>Asistencia en procesos de quiebra y reestructuración</li>
            <li>Protección de propiedad intelectual y marcas</li>
        </ul>
        <a href="servicios.html">Regresar a servicios</a>
        <br>
        <h3>Solicite más información</h3>
        <from>
            <label>
            Ingrese su nombre: 
            </label>
            <br>
            <input type="text" name="">
            <br>
            <label>
                Ingrese su correo:  
            </label>
            <br>
            <input type="email" name="">
            <br>
            <label>
                Describa su caso:
            </label>
            <br>
            <textarea name="mensaje" id="" cols="30" rows="10" placeholder="Escriba su mensaje aquí..."></textarea>
            <br>
            <input type="submit" value="Enviar">
            <input type="reset" value="Borrar">
            <br>
        </from>
    </article>
    <footer
        <!-- para el pie de pagina -->
        <p>© 2024 Bufete Jurídico Ochoa & Asociados. Todos los derechos reservados.</p>     
    </footer>
</body>
</html>