<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Derecho Penal</title>
</head>
<body>
    <header>
        <h1>
            Detalle de servicio
        </h1>
    </header>
    <nav>
        <a href="../index.html">Inicio</a> |
        <a href="../view/servicios.html">Servicios</a> |
        <a href="../view/nosotros.html">Nosotros</a> |
        <a href="../view/contacto.html">Contacto</a>
    </nav>
    <article>
        <h2>Derecho Penal</h2>
        <p>
            El derecho penal es una rama del derecho que se encarga de definir los delitos, establecer las penas y regular el proceso penal. 
            Su objetivo principal es proteger a la sociedad y garantizar la justicia mediante la sanción de conductas que atentan contra el orden público y los derechos fundamentales. 
            Los abogados especializados en derecho penal asesoran y representan a sus clientes en casos relacionados con delitos, desde la investigación hasta el juicio y la apelación.
        </p>
        <h3>Ofrecemos</h3>
        <ul>
            <li>Defensa en casos penales</li>
            <li>Asesoría en procedimientos judiciales</li>
            <li>Representación en juicios orales</li>
            <li>Asistencia en investigaciones criminales</li>
            <li>Consultoría en materia de cumplimiento normativo</li>
        </ul>
        <a href="servicios.html">Regresar a servicios</a>
        <br>
        <h3>Solicite más información</h3>
        <from>
            <label>
            Ingrese su nombre: 
            </label>
            <br>
            <input type="text" name="">
            <br>
            <label>
                Ingrese su correo:  
            </label>
            <br>
            <input type="email" name="">
            <br>
            <label>
                Describa su caso:
            </label>
            <br>
            <textarea name="mensaje" id="" cols="30" rows="10" placeholder="Escriba su mensaje aquí..."></textarea>
            <br>
            <input type="submit" value="Enviar">
            <input type="reset" value="Borrar">
            <br>
        </from>
    </article>
     <footer
        <!-- para el pie de pagina -->
        <p>© 2024 Bufete Jurídico Ochoa & Asociados. Todos los derechos reservados.</p>     
    </footer>
</body>
</html>