<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sobre Nosotros</title>
</head>
<body>
    <header>
        <!-- header para hacer el encabezado de la pagina -->
        <h1>
            Sobre Nosotros
        </h1>
    </header>
    <nav>
        <!-- para la seccion del nav -->
        <a href="../index.html">Inicio</a> |
        <a href="../view/servicios.html">Servicios</a> |
        <a href="../view/nosotros.html">Nosotros</a> |
        <a href="../view/contacto.html">Contacto</a>
    </nav>
    <article>
        <!-- para que tenga mas esctructura la pagina web -->
        <h2>
            Conozca más sobre nuestro bufete jurídico
        </h2>
        <p>
            En Bufete Jurídico Ochoa & Asociados, nos enorgullece ofrecer servicios legales de alta calidad, 
            respaldados por años de experiencia y un compromiso inquebrantable con la justicia. Nuestro equipo 
            de abogados está compuesto por profesionales altamente capacitados y especializados en diversas áreas del derecho, 
            lo que nos permite abordar una amplia gama de casos con eficacia y dedicación.
        </p>
        <h3>
            Conoce a nuestro equipo de trabajo
        </h3>
        <img src="../assets/img/laura_abogada.jpg" alt="Esta imagen muestra
        a una abogada" title="Esta imagen muestra una abogada">
        <p>
            <b>Laura Ochoa - Fundadora y Abogada Principal</b>
            <br>
            Con más de 15 años de experiencia en derecho civil y penal, Laura ha liderado numerosos casos exitosos, 
            ganándose la confianza y el respeto de sus clientes y colegas por igual.
        </p>
        <img src="../assets/img/oscar_abogado.jpg" alt="Esta imagen muestra
        a un abogado" title="Esta imagen muestra un abogado">
        <p>
            <b>Oscar Martínez - Abogado Senior</b>
            <br>
            Especialista en derecho laboral y mercantil, Oscar aporta una perspectiva estratégica y un enfoque 
            orientado a resultados, ayudando a empresas y particulares a navegar por complejos desafíos legales.
        </p>
        <img src="../assets/img/lucia_abogada.jpg" alt="Esta imagen muestra 
        a una abogada" title="Esta imagen muestra una abogada" width="500" height="500">
        <p>
            <b>Lucía Fernández - Abogada Asociada</b>
            <br>
            Con una sólida formación en derecho internacional y derechos humanos, Lucía está comprometida con la 
            defensa de los derechos fundamentales y la promoción de la justicia social.
        </p>
        <img src="../assets/img/cristian_abogado.jpg" alt="Esta imagen muestra
        a un abogado" title="Esta imagen muestra un abogado" width="500" height="600">
        <p>
            <b>Cristian Gómez - Abogado Junior</b>
            <br>
            Recientemente incorporado al equipo, Cristian aporta una energía fresca y un enfoque innovador, 
            especializándose en nuevas tecnologías y derecho digital.
        </p>
        <p>
            En Bufete Jurídico Ochoa & Asociados, creemos que cada cliente merece una atención personalizada y un enfoque 
            adaptado a sus necesidades específicas. Nos esforzamos por construir relaciones de confianza y ofrecer soluciones 
            legales efectivas que protejan los intereses de nuestros clientes.  Estamos aquí para apoyarlo en cada paso del
            camino, brindándole la asesoría y representación que necesita para enfrentar
            sus desafíos legales con confianza.
        </p>
        <p>
            <b><i>¡Gracias por confiar en nosotros!</i></b>   
        </p>
        <br>
        <h3>
            Historia del bufete
        </h3>
        <p>
            Fundado en 2005 por la abogada Laura Ochoa, nuestro bufete ha crecido hasta convertirse en una firma reconocida 
            por su excelencia y compromiso con la justicia. A lo largo de los años, hemos ampliado nuestro equipo y nuestras 
            áreas de práctica, siempre manteniendo nuestro enfoque en la calidad del servicio y la satisfacción del cliente. 
            Hoy, Bufete Jurídico Ochoa & Asociados es sinónimo de integridad, profesionalismo y resultados efectivos.
        </p>

        <h3>Horarios de atención</h3>
        <table border="6">
            <tr>
                <th>Dia</th>
                <th>Horario</th>
            </tr>
            <tr>
                <th>Lunes a Viernes</th>
                <td>9:00am - 20:00pm</td>
            </tr>
            <tr>
                <th>Sábados</th>
                <td>10:00am - 13:00pm</td>
            </tr>
            <tr>
                <th>Domingos</th>
                <td>Cerrado</td>
            </tr>
        </table>
         <h3>Contáctanos</h3>
         <img src="../assets/img/alfiler.png" alt="Esta imagen muestra
         una ubicacion" title="Esta imagen muestra una ubicacion" width="25px">
         Dirección: calle falsa
         <br>
         <img src="../assets/img/llamada-telefonica.png" alt="Esta imagen muestra
         un telefono" title="Esta imagen muestra un telefono" width="25px">
         Telefono: 6121548192
         <br>
         <img src="../assets/img/correo.png" alt="Esta imagen muestra    
         un correo" title="Esta imagen muestra un correo" width="25px">
         Correo: contacto@bufeteOchoa.com
        <br>
    </article>
    <footer
        <!-- para el pie de pagina -->
        <p>© 2024 Bufete Jurídico Ochoa & Asociados. Todos los derechos reservados.</p>     
    </footer>
</body>
</html>